body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
	margin: 0;
	padding: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
ul {
	list-style: none;
}
li {
	float: left;
}
a:link, a:visited {
	text-decoration: none;
}
.clear{
	clear:both;}
.wrap{
	position: relative;
	width: 1500px;
	height: 500px;
	border:1px solid #eee;
	margin:10px auto;
	overflow: hidden;
}
.wrap>p{
	position: absolute;
	white-space: nowrap;


}
form{
	width: 1500px;
	margin:0 auto;
}